@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
/*body text/*also look at gaudy bookletter 1911?*/

@import url(https://fonts.googleapis.com/css?family=Playball);
@import url(https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911);
/*possible banner text*/
@import url(https://fonts.googleapis.com/css?family=Molle:400italic);
@import url(https://fonts.googleapis.com/css?family=Niconne);



title{ 
	

}

body{
	
	background-color: black;
	margin:auto;

}


h1{
	
	color: white;
	margin:auto;
	background-image: url("../images/woodbackground.jpg");
	/*background: black;*/
	height:100px;
	text-align: center;
	font-family: 'Goudy Bookletter 1911', serif;
	/*margin-top:auto;*/

}


header{
	background-image: url("../images/coffeehero.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	margin:auto;
	height:750px;
    /*background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;*/

}

p{
}


h2{
	background-color: rgb(252, 54, 14);
	margin-top: 0em;
}


section{

	
}




nav{
	/*background-color: #E8C66A;*/
   /* border: 1px black solid;
    padding: 20px;*/

}

span{
	color: rgb(252, 54, 14);
	font-family: 'Niconne', cursive;
	font-size: 145px;
	letter-spacing: 7px;
}

div{
	/*background-color:#FFE2B8;*/
    /*border: 1px black solid;
    padding: 20px;*/



}

a{
	margin-left: 3em;
	margin-right:3em;
}

/*.navlinks{
	margin:8px;
	text-decoration: none;
	float; left;
	padding-left: 30px;
	padding-right:30px;*/
}
}
.buttons{
	height:75px;
	width: 75px;
	color: yellow;
}
.story{
	text-align: center;
	font-family: 'Goudy Bookletter 1911', serif;
	margin-left:30%;
	margin-right:30%;
    border-left: 1px black solid;
    border-right: 1px black solid;
    padding: 20px;
	/*background-color: rgb(255,109,53);*/
	
}

.saying{

	margin-left:555px;
	/*margin-right: 300px;*/
	color: white;
	font-size:75px;
}
.class, .buy, .visit{
	float: left;
	border-width: 30px;
	
	/*background-color: #E8C66A;*/
    /*border: 1px black solid;
    padding: 20px;
}*/
/*
.wrapper{
background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}*/
}









